html,
body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html {
  scroll-behavior: smooth;
}

.hero-section {
  position: relative;
  color: white;
  padding: 80px 0;
}

.hero-section h1 {
  position: relative;
  z-index: 2;
  font-size: 3rem;
  font-weight: bold;
}

[data-aos] {
  max-width: 100%;
}
